.section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}
.article{
    width:17em;
    height: fit-content;
    margin-bottom: 0.25em;
}
.container{
    display: flex;
    background-color: rgb(128, 128, 128);
    height: 4em;
    align-items: center;
    margin: .125em;
    justify-content: center;
}
.title{
    margin-left: .25em;
    align-items: center;
    font-weight: 600;
}
.button{
    margin-left: .5em;
    font-weight: 700;
    font-size: 1em;
    background-color: skyblue;
}
.description{
    background-color: rgba(45, 196, 222, 0.15);
    font-size: 1em;
}