<<<<<<< HEAD
.section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}
.article{
    width:17em;
    height: fit-content;
    margin-bottom: 0.25em;
}
.container{
=======
/* .section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.article {
    width: 17em;
    height: fit-content;
    margin-bottom: 0.25em;
}

.container {
>>>>>>> 044048c80a22cc8963e4261f5a80d56dbb4e5fb2
    display: flex;
    background-color: rgb(128, 128, 128);
    height: 4em;
    align-items: center;
    margin: .125em;
    justify-content: center;
}
<<<<<<< HEAD
.title{
=======

.title {
>>>>>>> 044048c80a22cc8963e4261f5a80d56dbb4e5fb2
    margin-left: .25em;
    align-items: center;
    font-weight: 600;
}
<<<<<<< HEAD
.button{
=======

.button {
>>>>>>> 044048c80a22cc8963e4261f5a80d56dbb4e5fb2
    margin-left: .5em;
    font-weight: 700;
    font-size: 1em;
    background-color: skyblue;
}
<<<<<<< HEAD
.description{
    background-color: rgba(45, 196, 222, 0.15);
    font-size: 1em;
}
=======

.description {
    background-color: rgba(45, 196, 222, 0.15);
    font-size: 1em;
} */
>>>>>>> 044048c80a22cc8963e4261f5a80d56dbb4e5fb2
