/* styles.module.css */
.title {
    font-size: 25px;
}

.description {
    font-size: 16px;
}


@media (max-width: 768px) {
    .title {
        font-size: 20px;
        margin-top: 10px;
    }

    .description {
        font-size: 13px;
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}