.section {
    width: 900px;
    height: 320px;
    display: flex;
}

.sectionImg {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.6;
    transition: 0.5s ease;
}

.sectionImg:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}